{% load i18n static %}
{% load custom_filters %}

<!-- ========== Left Sidebar Start ========== -->
<div class="sidebar-left">

    <div data-simplebar class="h-100">

        <!--- Sidebar-menu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="left-menu list-unstyled" id="side-menu">
                <li>
                    <a href="/dashboard/" class="">
                        <i class="fas fa-desktop"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                {% for key, value in request.models_ctx.sidebar|get_items %}

                    {% if key != 'auth' and key != 'account' and key != 'socialaccount' %}
                        <li>
                            <a href="javascript: void(0);" class="has-arrow ">
                                {% if key == 'masterdata' %}
                                    <i class="fa fa-server"></i>
                                {% elif key == 'fleetmaintenance' %}
                                    <i class="fa fa-tractor"></i>
                                {% elif key == 'inventory' %}
                                    <i class="fa fa-warehouse"></i>
                                {% elif key == 'laboperations' %}
                                    <i class="fa fa-vials"></i>
                                {% elif key == 'shellprocessing' %}
                                    <i class="fa fa-weight"></i>
                                {% elif key == 'terminaloperations' %}
                                    <i class="fa fa-truck-loading"></i>
                                {% elif key == 'transport' %}
                                    <i class="fa fa-route"></i>
                                {% else %}
                                    <i class="fa fa-palette"></i>
                                {% endif %}
                                <span>{{ key|capitalize }}</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                {% for model in value %}
                                    <li><a href="/{{ key }}/{{ model }}"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> {{ model|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
                
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->

