{% extends 'web_base.html' %}
{% load i18n static %}
{% load custom_filters %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block greeting %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div>
                <h4 class="fs-16 fw-semibold mb-1 mb-md-2">Good Morning, <span class="text-primary">{{ user.username }}!</span></h4>
                <p class="text-muted mb-0">Here's what's happening with your dashboard today.</p>
            </div>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">AMP</a></li>
                    {% for crumb in path|getcrumbs  %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active">{{ crumb }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="/{{ crumb|lower }}">{{ crumb }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock greeting %}

{% block main_content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="col-12">
        <div class="card w-100" style="max-width: 90vw; overflow: hidden auto;">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="card-icon text-muted"><i class="fas fa-sync-alt fs-14"></i></div>
                <h3 class="card-title text-center flex-grow-1">Order Progress</h3>
                <div class="card-addon dropdown">
                    <button class="btn btn-label-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fas fa-filter fs-12 align-middle ms-1"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                        <a class="dropdown-item" href="#"><i class="fa fa-poll"></i> Today</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-chart-pie"></i> Yesterday</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-chart-line"></i> Week</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 w-100">
                        <thead>
                            <tr class="text-center">
                                <th>Order ID</th>
                                <th>Status</th>
                                <th>Operators</th>
                                <th>Location</th>
                                <th>Progress</th>
                                <th>Start Date</th>
                                <th>Estimation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>837563</td>
                                <td><i class="marker marker-dot text-primary"></i> Arrived</td>
                                <td>
                                    <div class="avatar-group">
                                        <img src="{% static 'images/users/avatar-1.png' %}" class="avatar-2xs">
                                        <img src="{% static 'images/users/avatar-2.png' %}" class="avatar-2xs">
                                        <img src="{% static 'images/users/avatar-3.png' %}" class="avatar-2xs">
                                    </div>
                                </td>
                                <td>Tokyo</td>
                                <td>
                                    <h6>90%</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary" style="width: 90%"></div>
                                    </div>
                                </td>
                                <td>26/06/2023</td>
                                <td>27/06/2023</td>
                            </tr>
                            <tr class="text-center">
                                <td>982365</td>
                                <td><i class="marker marker-dot text-danger"></i> Pending</td>
                                <td>
                                    <div class="avatar-group">
                                        <img src="{% static 'images/users/avatar-6.png' %}" class="avatar-2xs">
                                        <img src="{% static 'images/users/avatar-7.png' %}" class="avatar-2xs">
                                    </div>
                                </td>
                                <td>San Francisco</td>
                                <td>
                                    <h6>20%</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary" style="width: 20%"></div>
                                    </div>
                                </td>
                                <td>23/04/2023</td>
                                <td>28/04/2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

        {% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © AMP.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="#" target="_blank" class="text-muted">AMPstudio</a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}


{% comment %} {% block right_sidebar %}
    <div class="custom-setting bg-primary pe-0 d-flex flex-column rounded-start">
        <button type="button" class="btn btn-wide border-0 text-white fs-20 avatar-sm rounded-end-0" id="light-dark-mode">
            <i class="mdi mdi-brightness-7 align-middle"></i>
            <i class="mdi mdi-white-balance-sunny align-middle"></i>
        </button>
        <button type="button" class="btn btn-wide border-0 text-white fs-20 avatar-sm" data-toggle="fullscreen">
            <i class="mdi mdi-arrow-expand-all align-middle"></i>
        </button>
        <button type="button" class="btn btn-wide border-0 text-white fs-16 avatar-sm" id="layout-dir-btn">
            <span>RTL</span>
        </button>
    </div>
{% endblock %} {% endcomment %}


{% block right_sidebar %}
    {% include 'partials/right_sidebar.html' %}
{% endblock %}

{% block vis_charts %}
    {% include 'partials/charts_vis.html' %}
{% endblock %} 
