{% extends 'web_base.html' %}
{% load i18n static %}
{% load custom_filters %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block greeting %}

{% endblock greeting %}

{% block main_content %}

                
                <!-- Add New -->
                {% block add_new %}

                {% endblock %}

            <!-- Renderer -->
            {% block content %}

            {% endblock %}
            
            
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © AMP.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="#" target="_blank" class="text-muted">AMPstudio</a>
                </div>
            </div>
        </div>
    </div>
</footer>





{% endblock %}