{% extends 'web_base.html' %}
{% load i18n static %}
{% load custom_filters %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block greeting %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div>
                <h4 class="fs-16 fw-semibold mb-1 mb-md-2">Vehicle Management</h4>
                <p class="text-muted mb-0">List of all registered vehicles.</p>
            </div>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">AMP</a></li>
                    {% for crumb in path|getcrumbs %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active">{{ crumb }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="/{{ crumb|lower }}">{{ crumb }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock greeting %}

{% block main_content %}

                
                <!-- Add New -->
                {% block add_new %}

                {% endblock %}

            <!-- Renderer -->
            {% block content %}

            {% endblock %}
            
            
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © AMP.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="#" target="_blank" class="text-muted">AMPstudio</a>
                </div>
            </div>
        </div>
    </div>
</footer>





{% endblock %}