{% extends "auth_base.html" %}
{% load i18n %}
{% load static %}
{% load i18n allauth %}
{% load allauth account %}

{% block title %}
    {% trans "Log In" %}
{% endblock %}

{% block auth_content %}
<div class="container-fluid authentication-bg overflow-hidden" style="background-image: url(/static/images/AMP_Home_Slider_3.png)">
        <div class="bg-overlay"></div>
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-10 col-md-6 col-lg-4 col-xxl-3">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center">
                            <a href="/" class="logo-dark">
                                <img src="{% static 'images/amp_logo_small.png'%}" alt="" height="64" class="auth-logo logo-dark mx-auto">
                            </a>
                            <a href="/" class="logo-dark">
                                <img src="{% static 'images/amp_logo_small.png'%}" alt="" height="64" class="auth-logo logo-light mx-auto">
                            </a>
                            

                            <h4 class="mt-4">Welcome Back !</h4>
                            <p class="text-muted">Sign in to continue to AMP</p>
                        </div>

                        <div class="p-2 mt-5">
    
                            {% if not SOCIALACCOUNT_ONLY %}
                                {% setvar link %}
                                    <a href="{{ signup_url }}">
                                    {% endsetvar %}
                                    {% setvar end_link %}
                                    </a>
                                {% endsetvar %}
                                
                                {% url 'account_login' as login_url %}
                                {% element form form=form method="post" action=login_url tags="entrance,login" %}
                                    {% slot body %}
                                        <div id="log_formbody">
                                            {% csrf_token %}
                                            {% element fields form=form unlabeled=True %}
                                            {% endelement %}
                                            {{ redirect_field }}
                                        </div>
                                    {% endslot %}
                                    {% slot actions %}
                                        <div class="pt-3 text-center">
                                            {% element button type="submit" class="btn btn-primary w-xl waves-effect waves-light" tags="prominent,login" %}
                                                {% trans "Sign In" %}
                                            {% endelement %}
                                        </div>
                                    {% endslot %}
                                {% endelement %}
                            {% endif %}
                            {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                                {% element hr %}
                                {% endelement %}
                                {% element button_group vertical=True %}
                                    {% if PASSKEY_LOGIN_ENABLED %}
                                        {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                                            {% trans "Sign in with a passkey" %}
                                        {% endelement %}
                                    {% endif %}
                                    {% if LOGIN_BY_CODE_ENABLED %}
                                        {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                                            {% trans "Mail me a sign-in code" %}
                                        {% endelement %}
                                    {% endif %}
                                {% endelement %}
                            {% endif %}
                            {% if SOCIALACCOUNT_ENABLED %}
                                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                            {% endif %}
                        </div>

                        <div class="mt-5 text-center">
                            <p>©
                                <script>document.write(new Date().getFullYear())</script> AMP. Crafted with <i class="mdi mdi-heart text-danger"></i> by AMPStudio
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock auth_content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}

{% block custom_scripts %}
    {% comment %} <script type="text/javascript" async>
        document.body.onload = ()=>{
            const loginform = document.querySelector("div[class='p-2 mt-5']").children.form;
            const submitbutton = document.querySelector("button[type='submit']");
            const buttondiv = document.createElement("div");

            console.log(loginform);
            
            loginform.querySelectorAll('p').forEach(tag => {
                tag.className = 'input-group auth-form-group-custom mb-3'
                if (tag.querySelector('input[type="checkbox"]')){
                    tag.querySelector('input').className = 'ms-2 form-control-checkbox'
                }else{
                    tag.querySelector('input').className = 'form-control'
                    tag.querySelector('label').style.display = 'None'
                }
            })

            loginform.removeChild(submitbutton)
            buttondiv.className = 'pt-3 text-center'
            submitbutton.className = "btn btn-primary w-xl waves-effect waves-light"
            buttondiv.appendChild(submitbutton)
            loginform.appendChild(buttondiv)
        }
    </script> {% endcomment %}
{% endblock %}
