{% extends 'web_base.html' %}
{% load i18n static %}
{% load custom_filters %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block greeting %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div>
                <h4 class="fs-16 fw-semibold mb-1 mb-md-2">Good Morning, <span class="text-primary">{{ user.username }}!</span></h4>
                <p class="text-muted mb-0">Here's what's happening with your dashboard today.</p>
            </div>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">AMP</a></li>
                    {% for crumb in path|getcrumbs  %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active">{{ crumb }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="/{{ crumb|lower }}">{{ crumb }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock greeting %}

{% block main_content %}
<div class="row">
    {% comment %} Top Selling {% endcomment %}
    <div class="col-xxl-8 col-xl-6">
        <div class="card">
            <div class="card-header">
                <div class="card-icon">
                    <i class="fas fa-layer-group fs-14 text-muted"></i>
                </div>
                <h4 class="card-title mb-0">Top Selling</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-sm-8">
                        <div id="products" data-colors='["--bs-primary"]' class="apex-charts" dir="ltr"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-grid gap-2">
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="text-muted">48%</span>
                                    <span class="text-muted">Sunday</span>
                                </div>
                                <div class="progress" style="height: 6px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 48%;"></div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="text-muted">100%</span>
                                    <span class="text-muted">Monday</span>
                                </div>
                                <div class="progress" style="height: 6px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%;"></div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="text-muted">40%</span>
                                    <span class="text-muted">Tuesday</span>
                                </div>
                                <div class="progress" style="height: 6px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 40%;"></div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="text-muted">68%</span>
                                    <span class="text-muted">Wednesday</span>
                                </div>
                                <div class="progress" style="height: 6px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 68%;"></div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="text-muted">56%</span>
                                    <span class="text-muted">Thursday</span>
                                </div>
                                <div class="progress" style="height: 6px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 56%;"></div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="text-muted">80%</span>
                                    <span class="text-muted">Friday</span>
                                </div>
                                <div class="progress" style="height: 6px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 80%;"></div>
                                </div>
                            </div>

                            <div class="">
                                <div class="d-flex justify-content-between">
                                    <span class="text-muted">80%</span>
                                    <span class="text-muted">Saturday</span>
                                </div>
                                <div class="progress" style="height: 6px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 92%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    {% comment %} End Top Selling {% endcomment %}
    <!-- end col -->

    {% comment %} User by Traffic {% endcomment %}
    <div class="col-xxl-4 col-xl-6">
        <div class="card">
            <div class="card-header">
                <div class="card-icon">
                    <i class="fas fa-user-friends fs-14 text-muted"></i>
                </div>
                <h4 class="card-title mb-0">User by traffic</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="user_traffic" data-colors='["--bs-info", "--bs-primary"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    {% comment %} End User by Traffic {% endcomment %}
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    {% comment %} Transaction History {% endcomment %}
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header justify-content-between">
                <div class="card-icon text-muted"><i class="fas fa-sort-amount-up fs-14"></i></div>
                <h4 class="card-title">Transaction History</h4>
                <div class="card-addon dropdown">
                    <button class="btn btn-label-primary py-0 btn-sm dropdown-toggle" data-bs-toggle="dropdown">Option <i class="mdi mdi-chevron-down fs-17 align-middle ms-1"></i></button>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-icon"><i class="fa fa-poll"></i></div>
                            <span class="dropdown-content">Report</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-icon"><i class="fa fa-chart-pie"></i></div>
                            <span class="dropdown-content">Charts</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-icon"><i class="fa fa-chart-line"></i></div>
                            <span class="dropdown-content">Statistics</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-icon"><i class="fa fa-cog"></i></div>
                            <span class="dropdown-content">Settings</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="border-bottom text-center pb-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="text-primary fs-24 me-2"><i class="fas fa-arrow-circle-right"></i></span>
                        <h4 class="display-5 mb-0">54</h4>
                    </div>
                    <p class="text-muted mb-0">Pending Invoices</p>
                </div>
                <div class="d-flex justify-content-between py-3">
                    <p class="text-muted fs-5 mb-0">Invoice details</p>
                    <div class="dropdown">
                        <span class="dropdown-toggle" data-bs-toggle="dropdown">30 Days <i class="mdi mdi-chevron-down fs-17 align-middle ms-1"></i></span>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                            <a class="dropdown-item" href="#">
                                <div class="dropdown-icon"><i class="fa fa-poll"></i></div>
                                <span class="dropdown-content">Report</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="dropdown-icon"><i class="fa fa-chart-pie"></i></div>
                                <span class="dropdown-content">Charts</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="dropdown-icon"><i class="fa fa-chart-line"></i></div>
                                <span class="dropdown-content">Statistics</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <div class="dropdown-icon"><i class="fa fa-cog"></i></div>
                                <span class="dropdown-content">Settings</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hstack gap-4 justify-content-center pb-3">
                    <div class="text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="text-info fs-22 me-2"><i class="fas fa-arrow-circle-up"></i></span>
                            <h4 class="display-6 mb-0">28</h4>
                        </div>
                        <p class="text-muted mb-0">Invoice In</p>
                    </div>

                    <div class="text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="text-danger fs-22 me-2"><i class="fas fa-arrow-circle-down"></i></span>
                            <h4 class="display-6 mb-0">32</h4>
                        </div>
                        <p class="text-muted mb-0">Invoice Out</p>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fs-6 mb-0"><i class="fas fa-arrow-circle-up text-info me-2"></i>Invoice 1</h5>
                        <p class="text-muted mb-0">+1,235</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fs-6 mb-0"><i class="fas fa-arrow-circle-down text-danger me-2"></i>Invoice 2</h5>
                        <p class="text-muted mb-0">-152</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fs-6 mb-0"><i class="fas fa-arrow-circle-down text-danger me-2"></i>Invoice 3</h5>
                        <p class="text-muted mb-0">+13,487</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fs-6 mb-0"><i class="fas fa-arrow-circle-up text-info me-2"></i>Invoice 4</h5>
                        <p class="text-muted mb-0">-1,523</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} End Transaction History {% endcomment %}

    {% comment %} User Feeds {% endcomment %}
    <div class="col-xl-6">
        <div class="card" style="height: 416px; overflow: hidden auto;" data-simplebar="init">
            <div class="card-header card-header-bordered">
                <div class="card-icon text-muted"><i class="fa fa-user-tag fs14"></i></div>
                <h3 class="card-title">User Feeds</h3>
            </div>
            <div class="card-body">
                <div class="rich-list rich-list-flush">
                    <div class="flex-column align-items-stretch">
                        <div class="rich-list-item">
                            <div class="rich-list-prepend">
                                <div class="avatar avatar-xs">
                                    <div class=""><img src="{% static 'images/users/avatar-1.png' %}" alt="Avatar image" class="avatar-2xs" /></div>
                                </div>
                            </div>
                            <div class="rich-list-content">
                                <h4 class="rich-list-title mb-1">Airi Satou</h4>
                                <p class="rich-list-subtitle mb-0">Accountant</p>
                            </div>
                            <div class="rich-list-append"><button class="btn btn-sm btn-label-primary">Follow</button></div>
                        </div>
                    </div>
                    <div class="flex-column align-items-stretch">
                        <div class="rich-list-item">
                            <div class="rich-list-prepend">
                                <div class="avatar avatar-xs">
                                    <div class=""><img src="{% static 'images/users/avatar-2.png' %}" alt="Avatar image" class="avatar-2xs" /></div>
                                </div>
                            </div>
                            <div class="rich-list-content">
                                <h4 class="rich-list-title mb-1">Cedric Kelly</h4>
                                <p class="rich-list-subtitle mb-0">Senior Developer</p>
                            </div>
                            <div class="rich-list-append"><button class="btn btn-sm btn-label-primary">Follow</button></div>
                        </div>
                    </div>
                    <div class="flex-column align-items-stretch">
                        <div class="rich-list-item">
                            <div class="rich-list-prepend">
                                <div class="avatar avatar-xs">
                                    <div class=""><img src="{% static 'images/users/avatar-4.png' %}" alt="Avatar image" class="avatar-2xs" /></div>
                                </div>
                            </div>
                            <div class="rich-list-content">
                                <h4 class="rich-list-title mb-1">Brielle Williamson</h4>
                                <p class="rich-list-subtitle mb-0">Integration Specialist</p>
                            </div>
                            <div class="rich-list-append"><button class="btn btn-sm btn-label-primary">Follow</button></div>
                        </div>
                    </div>
                    <div class="flex-column align-items-stretch">
                        <div class="rich-list-item">
                            <div class="rich-list-prepend">
                                <div class="avatar avatar-xs">
                                    <div class=""><img src="{% static 'images/users/avatar-6.png' %}" alt="Avatar image" class="avatar-2xs" /></div>
                                </div>
                            </div>
                            <div class="rich-list-content">
                                <h4 class="rich-list-title mb-1">Sonya Frost</h4>
                                <p class="rich-list-subtitle mb-0">Software Engineer</p>
                            </div>
                            <div class="rich-list-append"><button class="btn btn-sm btn-label-primary">Follow</button></div>
                        </div>
                    </div>
                    <div class="flex-column align-items-stretch">
                        <div class="rich-list-item">
                            <div class="rich-list-prepend">
                                <div class="avatar avatar-xs">
                                    <div class=""><img src="{% static 'images/users/avatar-5.png' %}" alt="Avatar image" class="avatar-2xs" /></div>
                                </div>
                            </div>
                            <div class="rich-list-content">
                                <h4 class="rich-list-title mb-1">Aarya Jeck</h4>
                                <p class="rich-list-subtitle mb-0">Developer</p>
                            </div>
                            <div class="rich-list-append"><button class="btn btn-sm btn-label-primary">Follow</button></div>
                        </div>
                    </div>
                    <div class="flex-column align-items-stretch">
                        <div class="rich-list-item">
                            <div class="rich-list-prepend">
                                <div class="avatar avatar-xs">
                                    <div class=""><img src="{% static 'images/users/avatar-7.png' %}" alt="Avatar image" class="avatar-2xs" /></div>
                                </div>
                            </div>
                            <div class="rich-list-content">
                                <h4 class="rich-list-title mb-1">Saniya Miroja</h4>
                                <p class="rich-list-subtitle mb-0">UI-UX Designer</p>
                            </div>
                            <div class="rich-list-append"><button class="btn btn-sm btn-label-primary">Follow</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} End User Feeds {% endcomment %}
</div>
{% endblock %}



{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © AMP.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="#" target="_blank" class="text-muted">AMPstudio</a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}


{% comment %} {% block right_sidebar %}
    <div class="custom-setting bg-primary pe-0 d-flex flex-column rounded-start">
        <button type="button" class="btn btn-wide border-0 text-white fs-20 avatar-sm rounded-end-0" id="light-dark-mode">
            <i class="mdi mdi-brightness-7 align-middle"></i>
            <i class="mdi mdi-white-balance-sunny align-middle"></i>
        </button>
        <button type="button" class="btn btn-wide border-0 text-white fs-20 avatar-sm" data-toggle="fullscreen">
            <i class="mdi mdi-arrow-expand-all align-middle"></i>
        </button>
        <button type="button" class="btn btn-wide border-0 text-white fs-16 avatar-sm" id="layout-dir-btn">
            <span>RTL</span>
        </button>
    </div>
{% endblock %} {% endcomment %}


{% block right_sidebar %}
    {% include 'partials/right_sidebar.html' %}
{% endblock %}

{% block vis_charts %}
    {% include 'partials/charts_vis.html' %}
{% endblock %} 
